*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222831;
}
.jokebox{
    height: 20vh;
    width: 70vw;
    margin: 0 auto;
    margin-top: 40vh;
    background-color: #393E46;
    border: 1px solid #71C9CE;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    font-family: 'Shantell Sans', cursive;
    font-size: 20px;
}
.btn{
    height: 10vh;
    width: 20vw;
    font-size: large;
    margin-left: 40%;
    margin-top: 4%;
    background-color: #393E46;
    font-family: 'Shantell Sans', cursive;
    color: white;
    border-radius: 50px;
    text-decoration: underline;
}